/*Documento CSS*/

body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #657280;
    text-align: center;
    padding: 20px;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.section {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    display: inline-block;
    margin-right: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}